<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css }  " />
</head>
<body>
<div class="container-fluid text-center">

    <h1> WELCOME </h1>
    <h2> <a href="/users"> Manage Users </a> </h2>

    <h5> dafasf asf </h5>
    <button type="submit" class="btn-info btn-lg">oıewrıworjweoır</button>

    <h4> dafasf asf </h4>
    <h3> asda sdasdasdkasmdkasdmaas sad</h3>
</div>
</body>
</html>




